@import url(~mapbox-gl/dist/mapbox-gl.css);

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

#map {
  width: 100vw;
  height: 100vh;
}
